:root {
  --brown: #2d1e1f;
  --yellow: rgb(255, 158, 9);
  --grey: #ece8dc;
  --dark: #222;
}

body {
  background: white;
  color: var(--dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--yellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--yellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: calc(60vh - 74px);
}

.btn-yellow {
  color: var(--yellow) !important;
  border-color: var(--yellow) !important;
}

.btn-yellow:hover {
  background: var(--yellow) !important;
  color: var(--brown) !important;
}

.footer {
  background: var(--dark);
}

.menu {
  background: var(--grey);
}
