:root {
  --brown: #2d1ef1;
  --yellow: #ff9e09;
  --gray: #ece8dc;
  --dark: #222;
}

body {
  background: white;
  color: var(--dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--yellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--yellow);
  font-size: 2rem;
}
